<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= @friend.first_name + " " + @friend.last_name %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= @friend.twitter %></h6>
    <p class="card-text">Email: <%= @friend.email%> | Phone: <%= @friend.phone%></p>
    <div>
      <%= link_to "Edit this friend", edit_friend_path(@friend), class:"btn btn-secondary" %>
      <%= link_to "Delete this friend", @friend, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class:"btn btn-danger" %>
      <%= link_to "Back to friends", friends_path, class:"btn btn-secondary"  %>
    </div>
  </div>
</div>
